---
layout: bookshelf
title: Bookshelf
permalink: /bookshelf/
---

<main class="shelf">
  {% for book in site.data.books  %}
  <article class="book">
    <figure class="book-cover">
      {% if book.link %}
        <a href="{{ book.link }}">
          <img src="{{site.url}}/assets/images/books/{{ book.image }}" alt="{{ book.title }}">
        </a>
      {% else %}
        <a href="#">
          <img src="{{site.url}}/assets/images/books/{{ book.image }}" alt="{{ book.title }}">
        </a>
      {% endif %}
    </figure>
    <div class="book-info">
      {% if book.link %}
        <a href="{{ book.link }}" class="no-underline">
            <h3 class="f5 f4-ns mb0 black-90 calisto pinkish-red">{{ book.title }}</h3>
            <h3 class="f6 f5 fw4 mt2 black-60 avenir">{{ book.author }}</h3>
        </a>
      {% else %}
            <h3 class="f5 f4-ns mb0 black-90 calisto pinkish-red">{{ book.title }}</h3>
            <h3 class="f6 f5 fw4 mt2 black-60 avenir">{{ book.author }}</h3>
      {% endif %}
    </div>
  </article>
  {% endfor %}
</main>
