---
layout: default
title: About
---

<div class="avenir mw9 center pa4 pt5-ns ph7-l fw5">
    <h6 class="f6 mb2 dib">&mdash; About</h6>
    <h3 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
      <span class="f1 bg-gray-90 lh-copy pinkish-red pa1 calisto">
        Hi! I'm Galuh.
      </span>
    </h3>
    
    <p class="f4 lh-copy measure">
        Three of my favorite things are <b>data</b>, <b>tech</b>, &amp; <b>design</b>. My passion is
        making data science and computer science more accessible to people.
    </p>

    <p class="f5 lh-copy measure">
        Right now I am:

        <ul class="f5 measure pl4">
            <li>A data engineer at Midtrans</li>
            <li>Participating in the <a href="http://reach.rust-lang.org">Increasing Rust's Reach</a> program.
            I'm working on <a href="http://diesel.rs">Diesel</a>, a safe, extensible ORM and Query Builder for Rust</li>
            <li>Actively learning Rust--I document my notes <a href="/rust-notes">here</a></li>
        </ul>
    </p>

    <p class="f5 lh-copy measure">
        Sometimes I:

        <ul class="f5 measure pl4">
            <li>Make <a href="/projects">fun side projects</a>. I love mixing web development + data!</li>
            <li>Share things I've learned by speaking at meetups and conferences</li>
            <li>Translate <a href="https://github.com/sdras/array-explorer">open source</a> <a href="https://github.com/sdras/object-explorer">projects</a> and <a href="https://developer.mozilla.org/en-US/profiles/galuhsahid">documentation</a> from English to Bahasa Indonesia</li>
            <li><a href="/sketches">Sketch buildings</a> and <a href="/bookshelf">read books</a></li>
        </ul>
    </p>

    <p class="f5 lh-copy measure">
        Previously I:

        <ul class="f5 measure pl4">
            <li>Studied computer science at Universitas Indonesia</li>
            <li>Co-organized <a href="http://compfest.web.id">CompFest</a>, the biggest student-run 
                IT event in Indonesia. Here's <a href="https://medium.com/tales-of-stepitup/stepitup-the-beginning-514b614064a3">my write-up of what we do</a>, <a href="{{site.url}}/categories/#stepitup">a bunch of
                lessons learned</a>, and <a href="https://komunika.tempo.co/read/news/2016/09/26/273807423/magz.tempo.co?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_treasury%3Bjv6f0XbxS6CantEOZLMWqw%3D%3D#.WhY0iUuLn6Y">some</a> <a href="https://id.techinasia.com/ide-iot-yang-terpilih-di-iot-academy-compest-8?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_treasury%3B%2BZlzFG7iT6KpCYpz3S7plg%3D%3D">publication</a> covering our work</li>
            <li>Did various freelance graphic design, web design, and web development projects</li>
            <li>Made <a href="assets/images/qt-06.png">illustrations</a> <a href="assets/images/Jakarta - Museum Nasional.png">for</a> <a href="assets/images/Jakarta - Stasiun Jakarta Kota.png">fun</a></li>
        </ul>
    </p>

    <p class="f5 lh-copy measure-wide">
        I can be reached through <u>galuh.tunggadewi[at]gmail.com</u>. I'm also on <a href="http://twitter.com/galuhsahid">Twitter</a>, <a href="http://medium.com/@galuhsahid">Medium</a>, and <a href="http://github.com/galuhsahid">GitHub</a>.
    </p>

    <h3 class="mt4">Talks &amp; Publication</h3>

    <h4>Upcoming</h4>
    {% for item in site.data.talks-publication %}
        <div class="mt3">
        {% if item.status == "upcoming" %}
            <span class="f6">{{ item.where }}</span>
            <span class="mt1 db b measure-wide">{{ item.title }}</span>
                {% if item.what == "talk" %}
                    <div class="mt1">
                        <span class="mr2"><a href="{{ item.website }}">More Info</a></span>
                    </div>
                {% endif %}
                {% if item.what == "paper" %}
                    <div class="mt1">{{ item.author }}</div>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}

    <h4>Past</h4>
    {% for item in site.data.talks-publication %}
        <div class="mt3">
        {% if item.status == "past" %}
            <span class="f6">{{ item.where }}</span>
            <span class="mt1 db b measure-wide">{{ item.title }}</span>
                {% if item.what == "talk" %}
                    <div class="mt1">
                        <span class="mr2"><a href="{{ item.slides }}">Slides</a></span>
                        <span><a href="{{ item.code }}">Code</a></span>
                    </div>
                {% endif %}

                {% if item.what == "paper" %}
                    <div class="mt1">{{ item.author }}</div>
                    <div class="mt1"><span class="mr2"><a href="{{ item.link }}">Paper</a></span></div>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
</div>
