pre {
    color: #FFF;
    margin-right: -12px;
    margin-left: -12px;
}
pre {
    white-space: pre;
    word-wrap: normal;
    overflow: auto;
    padding: 12px;
    background-color: rgb(26, 25, 25);
}