{% include head-dark.html %}

  <section class="posts">
    <div class="section-container">
      <div class="column column--main">

          <dl class="post-list">
              {% for post in site.posts %}
                {% unless post.tags contains 'photography' %}
              
                  <dt class="post-summary">
                    <span class="fade"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %d %y" }} </time></span>
                  </dt>
                  <dd class="post-description">
                    <h2 class="post-title"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
                  </dd>

                  {% endunless %}
              {% endfor %}
          </dl>

      </div>
    </div>
  </section> 

{% include footer.html %}