body {
  color: $text-color;
  font: normal calc(110% + 0.1vw) $text-font-stack;
  line-height: 1.6;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: $heading-font-stack;
}

h2 {
  font-family: $heading-font-stack;
}
